@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************INICIO******************/

.navbar {
  background-image: url(../imagenes/banner1.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand-container img {
  max-height: 100px; /* Ajusta el tamaño máximo según sea necesario */
  width: auto;
  height: auto;

}

.nav-item {
  font-weight: bold;
}

.dropdown-item {
  font-weight: bold;
}

body {
  background-color: #a3bcb6;
}

.banner1 {
  position: relative;
  text-align: center;
}

.banner1 img {
  height: 100px; /* Establece la altura fija */
  width: 100%; /* Permite que el ancho se ajuste automáticamente para mantener la proporción */
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor sin deformarse */
  
 
}


.banner1 h1 {
  position: absolute;
  top: 50%; /* Alinea el título en el centro vertical */
  left: 50%; /* Alinea el título en el centro horizontal */
  transform: translate(-50%, -50%); /* Centra el título correctamente */
  color: rgb(0, 0, 0);
  font-family: 'DM Serif Display', serif; /*tipografia google fonts*/
  font-weight: bold;
}

.carousel-item {
  width: 800px;
  
}

.inicio {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 180px;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  height: 50vh;
}

.inicio img {
  border-radius: 2rem;
}

.principal p {
  color: #000000c4;
}

.banner-medio {
  background-color: #0d3116f6;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 4rem;
  height: 200px;
}

.texto-medio {
  color: #ffffffc4;
  font-family: 'DM Serif Display', serif;
  
}

.texto-medio P {
  color: #ffffffc4;
}

.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 6rem;

}

.servicios p {
  color: #030303f6;
}

/************FOOTER***********/

.pie {
  background-color: #053C41;
}

.pie img {
  width: 80px;
}

.pie .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pie .fb {
  color: #ffffff;
  margin-right: 10px;
  font-size: 1.5rem;
}

.pie .fb:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}

.pie .tw {
  color: #ffffff;
  margin-right: 10px;
  font-size: 1.5rem;
}

.pie .tw:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}

.pie .inta {
  color: #ffffff;
  margin-right: 10px;
  font-size: 1.5rem;
}

.pie .inta:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}

.pie .lin {
  color: #ffffff;
  margin-right: 10px;
  font-size: 1.5rem;
}

.pie .lin:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}

.pie .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pie .header .parrafo {
  margin-bottom: 0;
}

.pie hr {
  border: none;
  height: 3px;
  background-color: #ffffff;
  margin: 1rem 0;
}

.pie .section {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.pie .section div {
  display: flex;
  flex-direction: column;
}

.pie .section div h2 {
  color: #ffffff;
}

.pie .section div a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.551);
  padding: 0.5rem;
}

.pie .social {
  background-color: rgb(38, 164, 33);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.pie .social .social-link {
  font-size: 2rem;
  color: #ffffff;
  transition: 0.5s;
}

.pie .social .social-link:hover {
  transform: scale(1.4);
}

p {
  color: white;
}

.derechos {
  background-color: #1e393c;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
