*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************INICIO******************/

header {
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: space-between;
    gap: 4rem;
}

  
body {
background-color: #a3bcb6;
}

img {
    width: 800px;
    border-radius: 2rem;
}

.inicio {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 180px;
    
    
}

.banner-index {
    background-image: url(../imagenes/banner1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-index h1 {
    color: #1c775d;
    font-weight: bold;
    

}

.banner-medio {
    background-color: #2b3b2f;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 4rem;
}

.texto-medio {
    color: white;
   
}